/****** Object:  Table [dbo].[Balances]    Script Date: 25.09.2026 10.32.33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Balances](
	[EmployeeNo] [int] NOT NULL,
	[Balance] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeNo] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DayMeals]    Script Date: 25.09.2026 10.32.33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DayMeals](
	[DayMealID] [int] IDENTITY(1,1) NOT NULL,
	[MenuDayID] [int] NULL,
	[MealID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DayMealID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 25.09.2026 10.32.33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeNo] [int] NOT NULL,
	[FirstName] [nvarchar](100) NULL,
	[LastName] [nvarchar](100) NULL,
	[Email] [nvarchar](255) NULL,
	[CardNumber] [nvarchar](50) NULL,
	[Active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeNo] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KioskProducts]    Script Date: 25.09.2026 10.32.33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KioskProducts](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[NameEN] [nvarchar](255) NULL,
	[NameSV] [nvarchar](255) NULL,
	[NameFI] [nvarchar](255) NULL,
	[Price] [decimal](10, 2) NULL,
	[Active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KioskTransactions]    Script Date: 25.09.2026 10.32.33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KioskTransactions](
	[TransactionID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeNo] [int] NULL,
	[ProductID] [int] NULL,
	[Quantity] [int] NULL,
	[Amount] [decimal](10, 2) NULL,
	[TransactionTime] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Meals]    Script Date: 25.09.2026 10.32.33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Meals](
	[MealID] [int] IDENTITY(1,1) NOT NULL,
	[NameEN] [nvarchar](255) NULL,
	[NameSV] [nvarchar](255) NULL,
	[NameFI] [nvarchar](255) NULL,
	[Active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MealID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuDays]    Script Date: 25.09.2026 10.32.33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuDays](
	[MenuDayID] [int] IDENTITY(1,1) NOT NULL,
	[MenuWeekID] [int] NULL,
	[MenuDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MenuDayID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuWeeks]    Script Date: 25.09.2026 10.32.33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuWeeks](
	[MenuWeekID] [int] IDENTITY(1,1) NOT NULL,
	[YearNumber] [int] NULL,
	[WeekNumber] [int] NULL,
	[CreatedDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[MenuWeekID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 25.09.2026 10.32.33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeNo] [int] NULL,
	[MenuDate] [date] NULL,
	[OrderedMealID] [int] NULL,
	[OrderTime] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[KioskProducts] ADD  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[KioskTransactions] ADD  DEFAULT (getdate()) FOR [TransactionTime]
GO
ALTER TABLE [dbo].[Meals] ADD  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[MenuWeeks] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderTime]
GO
ALTER TABLE [dbo].[Balances]  WITH CHECK ADD FOREIGN KEY([EmployeeNo])
REFERENCES [dbo].[Employees] ([EmployeeNo])
GO
ALTER TABLE [dbo].[DayMeals]  WITH CHECK ADD FOREIGN KEY([MealID])
REFERENCES [dbo].[Meals] ([MealID])
GO
ALTER TABLE [dbo].[DayMeals]  WITH CHECK ADD FOREIGN KEY([MenuDayID])
REFERENCES [dbo].[MenuDays] ([MenuDayID])
GO
ALTER TABLE [dbo].[KioskTransactions]  WITH CHECK ADD FOREIGN KEY([EmployeeNo])
REFERENCES [dbo].[Employees] ([EmployeeNo])
GO
ALTER TABLE [dbo].[KioskTransactions]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[KioskProducts] ([ProductID])
GO
ALTER TABLE [dbo].[MenuDays]  WITH CHECK ADD FOREIGN KEY([MenuWeekID])
REFERENCES [dbo].[MenuWeeks] ([MenuWeekID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([EmployeeNo])
REFERENCES [dbo].[Employees] ([EmployeeNo])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Meals] FOREIGN KEY([OrderedMealID])
REFERENCES [dbo].[Meals] ([MealID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Meals]
GO
