/****** Object:  Table [dbo].[Balances]    Script Date: 29.09.2026 13.26.31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Balances](
	[EmployeeNo] [int] NOT NULL,
	[Balance] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeNo] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DayMeals]    Script Date: 29.09.2026 13.26.31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DayMeals](
	[DayMealID] [int] IDENTITY(1,1) NOT NULL,
	[MenuDayID] [int] NOT NULL,
	[MealID] [int] NOT NULL,
 CONSTRAINT [PK_DayMeals] PRIMARY KEY CLUSTERED 
(
	[DayMealID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DayMeals_Day_Meal] UNIQUE NONCLUSTERED 
(
	[MenuDayID] ASC,
	[MealID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 29.09.2026 13.26.31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeNo] [int] NOT NULL,
	[FirstName] [nvarchar](100) NULL,
	[LastName] [nvarchar](100) NULL,
	[Email] [nvarchar](255) NULL,
	[CardNumber] [nvarchar](50) NULL,
	[Active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeNo] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GuestOrders]    Script Date: 29.09.2026 13.26.31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GuestOrders](
	[GuestOrderID] [int] IDENTITY(1,1) NOT NULL,
	[HostEmployeeNo] [int] NOT NULL,
	[MenuDate] [date] NOT NULL,
	[OrderedMealID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[WorkTask] [nvarchar](200) NOT NULL,
	[OrderTime] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GuestOrderID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KioskProducts]    Script Date: 29.09.2026 13.26.31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KioskProducts](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[NameEN] [nvarchar](255) NULL,
	[NameSV] [nvarchar](255) NULL,
	[NameFI] [nvarchar](255) NULL,
	[Price] [decimal](10, 2) NULL,
	[Active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KioskTransactions]    Script Date: 29.09.2026 13.26.31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KioskTransactions](
	[TransactionID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeNo] [int] NULL,
	[ProductID] [int] NULL,
	[Quantity] [int] NULL,
	[Amount] [decimal](10, 2) NULL,
	[TransactionTime] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Meals]    Script Date: 29.09.2026 13.26.31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Meals](
	[MealID] [int] IDENTITY(1,1) NOT NULL,
	[NameEN] [nvarchar](255) NULL,
	[NameSV] [nvarchar](255) NULL,
	[NameFI] [nvarchar](255) NULL,
	[Active] [bit] NULL,
	[Category] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MealID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 29.09.2026 13.26.31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[MenuID] [int] IDENTITY(1,1) NOT NULL,
	[MenuDate] [date] NOT NULL,
	[MealID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MenuID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuCycles]    Script Date: 29.09.2026 13.26.31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuCycles](
	[MenuCycleID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[StartDate] [date] NOT NULL,
	[NumberOfWeeks] [tinyint] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedDate] [datetime2](0) NOT NULL,
	[UpdatedDate] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_MenuCycles] PRIMARY KEY CLUSTERED 
(
	[MenuCycleID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuDays]    Script Date: 29.09.2026 13.26.31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuDays](
	[MenuDayID] [int] IDENTITY(1,1) NOT NULL,
	[MenuWeekID] [int] NOT NULL,
	[DayNumber] [tinyint] NOT NULL,
 CONSTRAINT [PK_MenuDays] PRIMARY KEY CLUSTERED 
(
	[MenuDayID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_MenuDays_Week_Day] UNIQUE NONCLUSTERED 
(
	[MenuWeekID] ASC,
	[DayNumber] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuWeeks]    Script Date: 29.09.2026 13.26.31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuWeeks](
	[MenuWeekID] [int] IDENTITY(1,1) NOT NULL,
	[WeekNumber] [int] NOT NULL,
	[CreatedDate] [datetime2](0) NOT NULL,
	[MenuCycleID] [int] NOT NULL,
 CONSTRAINT [PK_MenuWeeks] PRIMARY KEY CLUSTERED 
(
	[MenuWeekID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_MenuWeeks_Cycle_Week] UNIQUE NONCLUSTERED 
(
	[MenuCycleID] ASC,
	[WeekNumber] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderCancellations]    Script Date: 29.09.2026 13.26.31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderCancellations](
	[OrderCancellationID] [int] IDENTITY(1,1) NOT NULL,
	[OrderType] [nvarchar](20) NOT NULL,
	[OrderID] [int] NULL,
	[GuestOrderID] [int] NULL,
	[Quantity] [int] NOT NULL,
	[ReasonCode] [nvarchar](50) NOT NULL,
	[ReasonText] [nvarchar](500) NULL,
	[CancelledBy] [nvarchar](100) NOT NULL,
	[CancelledAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_OrderCancellations] PRIMARY KEY CLUSTERED 
(
	[OrderCancellationID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 29.09.2026 13.26.31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeNo] [int] NOT NULL,
	[MenuDate] [date] NOT NULL,
	[OrderedMealID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[OrderTime] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Orders_New] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Orders_New_Employee_Date_Meal] UNIQUE NONCLUSTERED 
(
	[EmployeeNo] ASC,
	[MenuDate] ASC,
	[OrderedMealID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[GuestOrders] ADD  CONSTRAINT [DF_GuestOrders_OrderTime]  DEFAULT (sysutcdatetime()) FOR [OrderTime]
GO
ALTER TABLE [dbo].[KioskProducts] ADD  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[KioskTransactions] ADD  DEFAULT (getdate()) FOR [TransactionTime]
GO
ALTER TABLE [dbo].[Meals] ADD  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[Meals] ADD  CONSTRAINT [DF_Meals_Category]  DEFAULT ('Main') FOR [Category]
GO
ALTER TABLE [dbo].[MenuCycles] ADD  CONSTRAINT [DF_MenuCycles_Status]  DEFAULT (N'Draft') FOR [Status]
GO
ALTER TABLE [dbo].[MenuCycles] ADD  CONSTRAINT [DF_MenuCycles_CreatedDate]  DEFAULT (sysutcdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[MenuCycles] ADD  CONSTRAINT [DF_MenuCycles_UpdatedDate]  DEFAULT (sysutcdatetime()) FOR [UpdatedDate]
GO
ALTER TABLE [dbo].[MenuWeeks] ADD  CONSTRAINT [DF_MenuWeeks_CreatedDate]  DEFAULT (sysutcdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[OrderCancellations] ADD  CONSTRAINT [DF_OrderCancellations_CancelledAt]  DEFAULT (sysutcdatetime()) FOR [CancelledAt]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_New_OrderTime]  DEFAULT (sysutcdatetime()) FOR [OrderTime]
GO
ALTER TABLE [dbo].[Balances]  WITH CHECK ADD FOREIGN KEY([EmployeeNo])
REFERENCES [dbo].[Employees] ([EmployeeNo])
GO
ALTER TABLE [dbo].[DayMeals]  WITH CHECK ADD  CONSTRAINT [FK_DayMeals_Meals] FOREIGN KEY([MealID])
REFERENCES [dbo].[Meals] ([MealID])
GO
ALTER TABLE [dbo].[DayMeals] CHECK CONSTRAINT [FK_DayMeals_Meals]
GO
ALTER TABLE [dbo].[DayMeals]  WITH CHECK ADD  CONSTRAINT [FK_DayMeals_MenuDays] FOREIGN KEY([MenuDayID])
REFERENCES [dbo].[MenuDays] ([MenuDayID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DayMeals] CHECK CONSTRAINT [FK_DayMeals_MenuDays]
GO
ALTER TABLE [dbo].[GuestOrders]  WITH CHECK ADD  CONSTRAINT [FK_GuestOrders_Employee] FOREIGN KEY([HostEmployeeNo])
REFERENCES [dbo].[Employees] ([EmployeeNo])
GO
ALTER TABLE [dbo].[GuestOrders] CHECK CONSTRAINT [FK_GuestOrders_Employee]
GO
ALTER TABLE [dbo].[GuestOrders]  WITH CHECK ADD  CONSTRAINT [FK_GuestOrders_Meal] FOREIGN KEY([OrderedMealID])
REFERENCES [dbo].[Meals] ([MealID])
GO
ALTER TABLE [dbo].[GuestOrders] CHECK CONSTRAINT [FK_GuestOrders_Meal]
GO
ALTER TABLE [dbo].[KioskTransactions]  WITH CHECK ADD FOREIGN KEY([EmployeeNo])
REFERENCES [dbo].[Employees] ([EmployeeNo])
GO
ALTER TABLE [dbo].[KioskTransactions]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[KioskProducts] ([ProductID])
GO
ALTER TABLE [dbo].[Menu]  WITH CHECK ADD  CONSTRAINT [FK_Menu_Meals] FOREIGN KEY([MealID])
REFERENCES [dbo].[Meals] ([MealID])
GO
ALTER TABLE [dbo].[Menu] CHECK CONSTRAINT [FK_Menu_Meals]
GO
ALTER TABLE [dbo].[MenuDays]  WITH CHECK ADD  CONSTRAINT [FK_MenuDays_MenuWeeks] FOREIGN KEY([MenuWeekID])
REFERENCES [dbo].[MenuWeeks] ([MenuWeekID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MenuDays] CHECK CONSTRAINT [FK_MenuDays_MenuWeeks]
GO
ALTER TABLE [dbo].[MenuWeeks]  WITH CHECK ADD  CONSTRAINT [FK_MenuWeeks_MenuCycles] FOREIGN KEY([MenuCycleID])
REFERENCES [dbo].[MenuCycles] ([MenuCycleID])
GO
ALTER TABLE [dbo].[MenuWeeks] CHECK CONSTRAINT [FK_MenuWeeks_MenuCycles]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_New_Employee] FOREIGN KEY([EmployeeNo])
REFERENCES [dbo].[Employees] ([EmployeeNo])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_New_Employee]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_New_Meal] FOREIGN KEY([OrderedMealID])
REFERENCES [dbo].[Meals] ([MealID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_New_Meal]
GO
ALTER TABLE [dbo].[MenuCycles]  WITH CHECK ADD  CONSTRAINT [CK_MenuCycles_NumberOfWeeks] CHECK  (([NumberOfWeeks]>=(1) AND [NumberOfWeeks]<=(8)))
GO
ALTER TABLE [dbo].[MenuCycles] CHECK CONSTRAINT [CK_MenuCycles_NumberOfWeeks]
GO
ALTER TABLE [dbo].[MenuCycles]  WITH CHECK ADD  CONSTRAINT [CK_MenuCycles_Status] CHECK  (([Status]=N'Archived' OR [Status]=N'Published' OR [Status]=N'Draft'))
GO
ALTER TABLE [dbo].[MenuCycles] CHECK CONSTRAINT [CK_MenuCycles_Status]
GO
ALTER TABLE [dbo].[MenuDays]  WITH CHECK ADD  CONSTRAINT [CK_MenuDays_DayNumber] CHECK  (([DayNumber]>=(1) AND [DayNumber]<=(5)))
GO
ALTER TABLE [dbo].[MenuDays] CHECK CONSTRAINT [CK_MenuDays_DayNumber]
GO
ALTER TABLE [dbo].[MenuWeeks]  WITH CHECK ADD  CONSTRAINT [CK_MenuWeeks_WeekNumber] CHECK  (([WeekNumber]>=(1) AND [WeekNumber]<=(8)))
GO
ALTER TABLE [dbo].[MenuWeeks] CHECK CONSTRAINT [CK_MenuWeeks_WeekNumber]
GO
ALTER TABLE [dbo].[OrderCancellations]  WITH CHECK ADD  CONSTRAINT [CK_OrderCancellations_OrderType] CHECK  (([OrderType]=N'Guest' OR [OrderType]=N'Employee'))
GO
ALTER TABLE [dbo].[OrderCancellations] CHECK CONSTRAINT [CK_OrderCancellations_OrderType]
GO
ALTER TABLE [dbo].[OrderCancellations]  WITH CHECK ADD  CONSTRAINT [CK_OrderCancellations_Quantity] CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[OrderCancellations] CHECK CONSTRAINT [CK_OrderCancellations_Quantity]
GO
ALTER TABLE [dbo].[OrderCancellations]  WITH CHECK ADD  CONSTRAINT [CK_OrderCancellations_Reference] CHECK  (([OrderType]=N'Employee' AND [OrderID] IS NOT NULL AND [GuestOrderID] IS NULL OR [OrderType]=N'Guest' AND [GuestOrderID] IS NOT NULL AND [OrderID] IS NULL))
GO
ALTER TABLE [dbo].[OrderCancellations] CHECK CONSTRAINT [CK_OrderCancellations_Reference]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [CK_Orders_New_Quantity] CHECK  (([Quantity]>=(1) AND [Quantity]<=(50)))
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [CK_Orders_New_Quantity]
GO
